@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.container {
  nav {
    width: 100%;
    padding: 16px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      width: 30%;
      display: flex;
      justify-content: space-between;
      li {
        &:first-child {
          a {
            color: var(--Text-Color-Accent, #db6b97);
            text-align: right;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
          }
        }
        a {
          color: var(--Text-Color-Primary, #2d2d2d);
          text-align: right;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    .right-box {
      display: inline-flex;
      align-items: center;
      gap: 32px;
      .login-register-box {
        display: flex;
        align-items: center;
        a {
          margin-right: 8px;
          margin-left: 8px;
          color: var(--Text-Color-Accent, #db6b97);
          text-align: center;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
      }

      .basket-box {
        display: flex;
        p {
          margin-left: 8px;
          color: var(--Text-Color-Accent, #db6b97);
          text-align: center;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }

      .favorite-box {
        display: flex;
        p {
          margin-left: 8px;
          color: var(--Text-Color-Accent, #db6b97);
          text-align: center;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }

  main {
    width: 100%;
    padding: 64px 60px;
    display: flex;
    justify-content: space-evenly;
    .shop-box {
      position: relative;
      .title-box {
        position: absolute;
        top: 24px;
        left: 24px;
        h1 {
          color: var(--Text-Color-Accent, #db6b97);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
        button {
          display: flex;
          align-items: center;
          margin-top: 4px;
          background: none;
          a {
            margin-right: 16px;
            color: var(--Text-Color-Primary, #2d2d2d);
            font-family: Poppins;
            font-size: 23px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
          }
        }
      }
    }

    .img-box{
      .sweaters-demins-box{
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
      }
    }
  }
}
