@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.container {
  width: 100%;
  padding: 100px 0 0 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .form {
    h1 {
      margin-bottom: 8px;
      color: var(--Text-Color-Primary, #2d2d2d);
      font-family: Poppins;
      font-size: 23px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }
    p {
      margin-bottom: 40px;
      color: var(--Text-Color-Tertiary, #737373);
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      input {
        width: 384px;
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid var(--Neutrals-Rule, #d2d2d2);
        background: var(--Neutrals-Text-field-bg, #f6f6f6);
        &::placeholder {
          color: var(--Text-Color-Tertiary, #737373);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
      textarea {
        width: 384px;
        height: 128px;
        padding: 12px 16px;
        resize: none;
        border-radius: 8px;
        outline: none;
        border: 1px solid var(--Neutrals-Rule, #d2d2d2);
        background: var(--Neutrals-Text-field-bg, #f6f6f6);
        &::placeholder {
          color: var(--Text-Color-Tertiary, #737373);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }

      button {
        width: 384px;
        padding: 9.6px 0px;
        border-radius: 8px;
        background: var(--Text-Color-Primary, #2d2d2d);
        color: var(--Text-Color-Secondary, #fff);
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }

  .purple-box {
    width: 640px;
    height: 480px;
    display: inline-flex;
    padding: 88px 318px 88px 64px;
    align-items: center;
    background: var(--Text-Color-Accent, #db6b97);
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;
      li {
        display: flex;
        p {
          margin-left: 24px;
          color: var(--Text-Color-Secondary, #fff);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .icon-img{
        display: flex;
        align-items: center;
        gap: 48px;
            }
    }
  }
}
